section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "article picture"
    "footer picture ";
  width: 80%;
  min-width: 700px;
  margin: 25px auto;
}
header {
  grid-area: header;
  height: 40px;
  display: flex;
}
nav {
  flex-grow: 1;
}

button:hover {
  background-color: var(--text-color-menu-hover) !important;
}

picture {
  grid-area: picture;
  justify-self: end;
}
article {
  grid-area: article;
}
footer {
  grid-area: footer;
}
